/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

#fond{
    background: url("../img/fond.png");
    width: 800px;
    height: 480px;
    position:relative;
    overflow:hidden;
}

#machine,#panier{
  display: inline-block;
}
#machine{
    background: url('../img/machine.png');
    width: image-width('machine.png');
    height: image-height('machine.png');
    bottom:80px;
    left: 100px;
    position:absolute;
}

#panier{
    background: url('../img/panier.png');
    width: image-width('panier.png');
    height: image-height('panier.png');
    bottom:80px;
    right: 100px;
    position:absolute;
}
#cat{
    width: image-width('chat.png');
    height: image-height('chat.png');
    display: block;
    position: absolute;
    bottom: - image-height('chat.png')* 3/4 ;
    left: 50%;
}


.catTurn{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}