@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
body {
  margin: 0; }

/* line 13, ../sass/screen.scss */
h1 {
  text-align: center;
  width: 100%;
  font-family: 'Leckerli One', cursive;
  color: white;
  font-size: 52px; }

/* line 21, ../sass/screen.scss */
#fond {
  background: url("../img/fond.png");
  width: 800px;
  height: 480px;
  position: relative;
  overflow: hidden; }

/* line 29, ../sass/screen.scss */
#machine, #panier {
  display: inline-block; }

/* line 32, ../sass/screen.scss */
#machine {
  background: url("../img/machine.png");
  width: 239px;
  height: 231px;
  bottom: 80px;
  left: 100px;
  position: absolute; }
  /* line 33, ../sass/screen.scss */
  #machine.sang {
    background: url("../img/machine.png"), url("../img/sang.png"); }

/* line 44, ../sass/screen.scss */
#panier {
  background: url("../img/panier.png");
  width: 189px;
  height: 109px;
  bottom: 80px;
  right: 100px;
  position: absolute; }

/* line 52, ../sass/screen.scss */
#cat {
  width: 170px;
  height: 418px;
  display: block;
  position: absolute;
  bottom: -313.5px;
  left: 50%; }

/* line 62, ../sass/screen.scss */
.catTurn {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@-ms-keyframes spin {
  /* line 82, ../sass/screen.scss */
  from {
    -ms-transform: rotate(0deg); }

  /* line 83, ../sass/screen.scss */
  to {
    -ms-transform: rotate(360deg); } }

@-moz-keyframes spin {
  /* line 86, ../sass/screen.scss */
  from {
    -moz-transform: rotate(0deg); }

  /* line 87, ../sass/screen.scss */
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  /* line 90, ../sass/screen.scss */
  from {
    -webkit-transform: rotate(0deg); }

  /* line 91, ../sass/screen.scss */
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  /* line 94, ../sass/screen.scss */
  from {
    transform: rotate(0deg); }

  /* line 97, ../sass/screen.scss */
  to {
    transform: rotate(360deg); } }
